{% extends "base.html.twig" %}

{% block title %}Accueil | {{ parent() }}{% endblock %}

{% block content %}
    <h4><a href="{{ path('trick_add') }}">Nouveau Trick</a></h4>
    <div class="container">
        <div class="row">
            {% for trick in tricks %}
                <div class="col s12 m4 l3">
                    <div class="article-card">
                        <img src="{{ asset('uploads/' ~ trick.picture) }}" class="responsive-img" >
                        <h2><a href="{{ path('trick_show', {'id': trick.id}) }}">{{ trick.title }}</a></h2>
                        <h3>{{ trick.group }}</h3>
                        <span class="date">{{ trick.publicationDate|date('d/m/Y') }}</span>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}