{% extends "base.html.twig" %}

{% block title %}{{ trick.title }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col s12 m12 l8 offset-l2">
            <h2>{{ trick.title }}</h2>
            <span>{{ trick.publicationDate|date('d/m/Y') }}</span>
            <p>
                <img src="{{ asset('uploads/' ~ trick.picture) }}" class="responsive-img">
            </p>
        </div>
    </div>
    <div class="row">
    <div class="col s12 m12 l8 offset-l2">
        <p>
            {{ trick.content }}
        </p>
    </div>
{% endblock %}